/*
global style
 */
html,body{
    /*background-color: #EEEEEE;*/
}



/*debug use*/
.block{
    display: block;
    width: 50px;
    height: 50px;
}
.big{
    width: 800px;
    height: 800px;
}
.mid{
    width: 400px;
    height: 400px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.gray {
    background-color: gray;
}
.board {
    padding: 0.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 0.3em;
}

/*布局管理*/
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-grow{
    flex-grow: 1;
}
.fill-container{
    width: 100%;
    height: 100%;
}

/*配色*/
.bg-light{
    background-color: #F6F4EB;
}